@model Delivery.ViewModels.LoginViewModel;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Вход в аккаунт</title>
</head>
<body>
    <form id="login" method="post" asp-controller="Account" asp-action="Login">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Email"></label><br />
            <input id="email" name="email" type="text" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input id="password" type="password" name="password" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="RememberMe"></label><br />
            <input id="rememberMe" type="checkbox" name="rememberMe" asp-for="RememberMe" />
        </div>
        <div>
            <input type="submit" value="Войти" />
        </div>
    </form>
</body>
</html>
